<div id="mySidenav" class="sidenav">
  <div class="navImg"><%= image_tag("logo.png") %></div>
  <div class="navW">
    <a class="alink" href="#">About Simple Translate</a>
    <a class="tlink" href="http://aqueous-bastion-46938.herokuapp.com/static_pages/home">Translator</a>
    <a class="rlink" href="http://aqueous-bastion-46938.herokuapp.com/static_pages/reference">References</a>
    <a class="alink" href="http://aqueous-bastion-46938.herokuapp.com/translation/paste">Paste</a>
    <a class="alink" href="http://aqueous-bastion-46938.herokuapp.com/translation/flashcards">Flashcards</a>
  </div>
</div>




<div class="hrefnav">
<div class="refavail">
    Voice output available for: <% Language.where(speak: true).each do |lang| %><span class="refspeak refspeakCodes"><%="#{lang.code}" %></span>
          <% end %>
</div>
 <div class="refmenu"><i class="fas fa-ellipsis-h"></i></div>
</div>







<div class="tlwrap">



  <div class="translateContent">
    <div class="fill">






    <div class="overflownc">
    <div class="tlbar">

      <div class="first">
        <div class="dtc"><div class="detected">Detect Language</div></div>
        </div>
        <div class="second">
          Translate to <strong id="slctLang">French</strong> (Click to change)

        </div>
    </div>
    <div class="textboxwrap">
      <textarea id="translateBox" name="name" rows="5" cols="80" spellcheck="false" autocomplete="off" autocorrect="off"></textarea>
    </div>
    <div class="resultContent">
        <div class="resultText"></div>
      <div class="qk"></div>
    </div>
    </div>




  </div>
  <div class="wrapList">
    <!-- <div class="lwab"> -->
    <% @lang.each do |l| %>
    <div class="row"><%= l.name %></div>
    <% end %>
    </div>
  </div>
</div>


<!-- </div> -->
<% if current_user %>
  <div class="bpmw"><%= current_user.email %>
     <% current_user.attributes.each do |k, v| %>
      <b><%= k %>:</b> <%= v %> <br>

  <% end %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>

<% end %>
</div>






<!-- </div> -->
<script>

  const refSearch1 = document.getElementsByClassName("refSearch")[0];
  const oneSelect1 = document.getElementById("oneSelect");
  const twoSelect1 = document.getElementById("twoSelect");
  const chooseLang1 = document.getElementById("slctLang");
  const button1 = document.getElementsByClassName("flashcardInput")[0];
  const translatebox1 = document.getElementById("translateBox");
  const rslt1 = document.getElementsByClassName("resultText")[0];
  const chooseWrap1 = document.getElementsByClassName("wrapList")[0];
  const nav1 = document.getElementsByClassName("sidenav")[0];
  const menuB1 = document.getElementsByClassName("refmenu")[0];
  const wrpall1 = document.getElementsByClassName("wrapALL")[0];
  const rsltcon1 = document.getElementsByClassName("resultContent")[0];
  let running1 = false
  const translateContent1 = document.getElementsByClassName("translateContent")[0];


  function chooseTL() {
    console.log("heho")
    if (chooseWrap1.style.display == "block") {
      chooseWrap1.style.display = "none";
    } else {
    console.log("hee");
   chooseWrap1.style.display = "block";
   chooseWrap1.style.zIndex = "999";
   setTimeout(function(){wrpall1.addEventListener("click", closeNav, false)}, 500)
    }
}
  chooseLang1.addEventListener("click", chooseTL, false);

  $('.row').click(function () {
  selectedLang1 = $(this).text();
  //so well make this default of english
  chooseLang1.innerHTML = selectedLang1;
  chooseWrap1.style.display = "none";
  translateInput();
  });



// get input text
// search button executes function based on
// plug in all values to link, dont use if statement
// Get the input field

// const swapLang = document.getElementById("swapLang");
// swapLang.addEventListener('click', function(){
//   console.log("swapped")
//   const oneSelect = document.getElementById( "oneSelect" );
//   const twoSelect = document.getElementById( "twoSelect" );
//   let oneLang = oneSelect.options[ oneSelect.selectedIndex ].value
//   let twoLang = twoSelect.options[ twoSelect.selectedIndex ].value

translatebox1.addEventListener("input", translateInput, false)
menuB1.addEventListener("click", showNav, false)
function showNav() {
 nav1.style.width = "250px"
 menuB1.removeEventListener("click", showNav, false)
 menuB1.addEventListener("click", closeNav, false)
}
function closeNav() {
  console.log("workddd")
 nav1.style.width = "0px"

 menuB1.addEventListener("click", showNav, false)
 chooseWrap1.style.display = "none";

}
function spk(voice) {
  console.log("speaking now")
  chooseLang1.innerText
  spkText = document.getElementsByClassName("resultText")[0].innerText
  responsiveVoice1.speak(spkText, voice)
}
function translateInput() {
  // translatebox.removeEventListener("input", translateInput, false)
  inpText = translatebox1.value
  // if (inpText == "") { inpText = " " }
  outLang = chooseLang1.innerHTML
  console.log(inpText)
  console.log(outLang)
  setTimeout(function() {
  $.ajax({
        url: "http://aqueous-bastion-46938.herokuapp.com/static_pages/translate",
        data: {text: inpText, lang: outLang },
        success: function(response){
          console.log("had success")




          if (response) {
            if (!(inpText == "")) {
            let newText = $(response).find(".tr")
            let detect = $(response).find(".dtct")
            let spkIcon = $(response).find(".spkIcon")
            let spkVoice = $(response).find(".spkVoice")





          $(rslt1).empty().append($(newText).text());
          let sayVoice = $(spkVoice).text();
          $(".detected").empty().append($(detect).text());
          $(".qk").empty().append($(spkIcon));
          icon = document.getElementsByClassName("icn")[0];
          icon.removeEventListener('click', spkWrap, false);
          icon.addEventListener('click', spkWrap, false);

           function spkWrap() {
             spk(sayVoice);
           }

          }
          rslt1.style.background = "#D3EBF4"
          translateContent1.style.height = rslt1.offsetHeight + 48 + "px";
          // console.log(rslt.offsetHeight)

        } else {
          rsltcon1.style.background = "white";
        };
          // translatebox.addEventListener("input", translateInput, false)
        },
        error:function(){
         // $(rslt).empty().append("Could not find translation...")
        }
      });// end of ajax
  }, 1000)

}
////////////////////////////////////////////////////////




  $('#swapLang').click(function () {
      let v1 = $('#oneSelect').val(),
          v2 = $('#twoSelect').val();
      $('#oneSelect').val(v2);
      $('#twoSelect').val(v1);
      refSearch1.click();
  });

// })
$('#swap').click(function () {
    var v1 = $('#s1').val(),
        v2 = $('#s2').val();
    $('#s1').val(v2);
    $('#s2').val(v1);

});







  const input1 = document.getElementById("inputTxt");

   input1.addEventListener("keyup", function(event) {
     if (this.value == '' || this.value == this.defaultValue) {
       return
   } else if (event.keyCode === 13) {
       event.preventDefault();
       refSearch1.click();
      }
    });
    refSearch1.addEventListener("click", function(event){
     if (input.value == '' || input.value == this.defaultValue) {
       return
     }
     event.preventDefault()
     const inputTxt1 = document.getElementById("inputTxt").value;

     const refContain1 = document.getElementsByClassName("homeContent")[0];
     const tlContain1 = document.getElementsByClassName("translateContent")[0];
     const wrdList1 = document.getElementsByClassName("wordList")[0];
     const parsedTxt1 = inputTxt.replace(/\s+/g, '+');
     const str1 = oneSelect1.options[oneSelect1.selectedIndex].text;
     const str21= twoSelect1.options[twoSelect1.selectedIndex].text;
     const reverso = "https://context.reverso.net/translation/";
     const translateUrl = reverso + str1.toLowerCase() + "-" + str21.toLowerCase() + "/" + parsedTxt1;
     console.log(translateUrl)
      // console.log(translateUrl);
      // $('.homeContent').load('grabber.php?url='+ translateUrl);
      // $.get(translateUrl, function (data) {
      //   txt = $(data).find('.text').html();
      //   console.log(txt)
      // $("").append(txt);
      // });
      // $(".homeContent").load("demo_test.txt");

      function uniqArr(value, index, self) {
        return self.indexOf(value) === index;
       }
       $.ajax({

        url: "flash",
        data: { data_value: translateUrl, searchText: inputTxt },
        success: function(response)
           {
             result = $(response).find(".myurl");
             result2 = $(response).find(".innerList");

             refContain1.style.display = "block";
             tlContain1.style.display = "none";
             newclss = document.getElementsByClassName("topnav")[0].className = "topnav " + str2.toLowerCase();




             // $(".topnav").css("background-size", "2400px 1300px")
             // $(".topnav").css("background-position", " center")

            wrdList1.style.display = "block";

            $(".homeContent").empty().append(result)
            $(".wordList").empty().append(result2)
            let french = document.getElementsByClassName("myarr")[0].innerText;
            const frencharr = french.replace(/[\[\]']/g,'' ).replace(/"/g,"").split(", ");
            finalArr = frencharr.filter(uniqArr)
            document.getElementsByClassName("myarr")[0].innerHTML = finalArr
            // $(".homeContent").append(result2)
           }
         });

      setTimeout(function(){
        const thing = document.getElementsByClassName("myurl")[0].innerText;
        const home = document.getElementsByClassName("homeContent")[0];

        let finalfrench = document.getElementsByClassName("myarr")[0].innerHTML;
        const exmpls = document.getElementsByClassName("myurl")[0];
        const replaceHL = document.getElementsByClassName("resultcut");


        let n = thing.search(inputTxt);
        let l = n + inputTxt.length;

        // home.innerHTML = thing.substring(0, n) + '<span style="font-style: italic">' + thing.substring(n, l) + '</span>' + thing.substring(l);
        // t = exmpls.innerHTML
        //
        // tn = t.replace(new RegExp(inputTxt, 'g'), "<span style='background-color:rgba(255,255,0,0.3)'>" + inputTxt + "</span>")
        // exmpls.innerHTML = tn


        voiceFunc();

      }, 3000)
     });
     // function fakeReplace(str, substr, newstr) {
     //  return str.split(substr).join(newstr);
     //  }
     // function justtest() {
     //
     //
     // }


     function isEven(n) {
        return n % 2 == 0;
     }
     function muteHide(btn) {

       if (responsiveVoice.isPlaying()) {
         console.log("its playingggg");
         setTimeout(function() {
           muteHide(btn)
         }, 500);
      } else {
        btn.style.display = "none";
        return
       }
     }
     function tryMute(str, say, full, spkr) {
       // make listener function to hide it
        if (say) { responsiveVoice.speak(say, spkr) }
        str.addEventListener('click', function () {
           this.style.display = "none";
           responsiveVoice.cancel();
        })
        setTimeout(function() { responsiveVoice.speak(sayFull, spkr);
          }, 1000)
        setTimeout(function() {
             muteHide(str);
          }, 2000)
       };

      function voiceFunc() {
       const voice = document.getElementsByClassName("voice");
       const mute = document.getElementsByClassName("mute");



       for (var i = 0; i < voice.length; i++) {

         console.log(i);
         voice[i].setAttribute("id", (i));
         mute[i].setAttribute("id", (i));


         if (isEven(i)) {

           voice[i].addEventListener('click', function(){
             if (this.parentElement.getElementsByTagName('span')[0]) {
               say = this.parentElement.getElementsByTagName('em')[0].innerText;
             } else { say = " "}
           sayFull = this.parentElement.innerText;
           $('.mute').css('display','none')
           m = document.getElementsByClassName('mute')[this.id];
           m.style.display = "inline-block"
           enm = "US English Male"
           tryMute(m, say, sayFull, enm);
           console.log(say)


           })
         } else if (!(isEven(i))) {
           m = mute[i];
           voice[i].addEventListener('click', function(){
            if (this.parentElement.getElementsByTagName('span')[0]) {
              say = this.parentElement.getElementsByTagName('a')[0].innerText;
            } else { say = " "}
           sayFull = this.parentElement.innerText
           $('.mute').css('display','none')
           m = document.getElementsByClassName('mute')[this.id];
           m.style.display = "inline-block";
           frf = "French Female"
           tryMute(m, say, sayFull, frf);
           })
         }
       }
    }


     // function playVoice(event) {
     //   var text = $(event.target);
     //   console.log(text)
     //
     // }

 //









</script>
