<div id="mySidenav" class="sidenav">
  <div class="navImg"><%= image_tag("logo.png") %></div>
  <div class="navW">
   <a class="alink" href="#">About Simple Translate</a>
   <a class="tlink" href="static_pages/translate">Translator</a>
   <a class="rlink" href="static_pages/reference">References</a>
   <a class="alink" href="translation/paste">Paste</a>
   <a class="alink" href="translation/flashcards">Flashcards</a>
  </div>
</div>
<div class="wrapALL">
<div class="lownav">
  <div class="refnav">
    <div class="refavail">
      Voice output available for: <% Language.where(speak: true).each do |lang| %><span class="refspeak refspeakCodes"><%="#{lang.code}" %></span>
            <% end %>
    </div>
    <div class="refmenu"><i class="fas fa-ellipsis-h"></i></div>
  </div>
<div class="reflogo"><div class="hattrick"><a href="http://aqueous-bastion-46938.herokuapp.com/"><span class="logo1">Simple</span><span class="logo2">Translate</span></a></div>

  <div class="logged">
     <% if current_user %>
        <i class="fas fa-user"></i> <%= @using %>
        <div class="usermenu">
        <ul class="ulpaste">
          <li><i class="fas fa-user"></i><%= link_to "Profile"%></li>
          <li><i class="fas fa-home"></i><%= link_to "Home"%></li>
          <li><i class="fas fa-history"></i><%= link_to "History"%></li>
          <li><i class="fas fa-heart"></i><%= link_to "Favorites"%></li>
          <li><i class="fas fa-heart"></i><%= link_to "Sign out", sessions_path %></li>

        </ul>
       </div>
     <% else %>
     <%= link_to "Login With Google", login_path %>
     <% end %>
  </div>

</div>

<div class="tr">
  <%= @txt %>

  </div>
  <div class="dtct">
    <%= "Detected Language: #{@detectedLang.name}" %>
    </div>
    <% if @speak %>
       <div class="spkIcon"><i class='icn fas fa-volume-up'></i></div>
    <% end %>
<div class="spkVoice"><%= @currentLang.voice %></div>
