<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTranslate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',  'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="lownav">
    <div class="topnav">
      <div class="search-container">

        <input type="text" id="inputTxt">
        <button class="refSearch" type='button'><i class="fa fa-search"></i></button>

      </div>
      <div class="langselect">
       <form>
         <div class="selectWrap">
         <select id="oneSelect" name="language">
            <option selected>English</option>
            <option>French</option>
            <option>Spanish</option>
            <option>Dutch</option>
            <option>Arabic</option>
            <option>Italian</option>
            <option>Russian</option>
        </select>
        </div>
      </form>
      </div>
      <div class="langselect">
        <div class="swap">
          <span><img id="swapLang" src="https://img.icons8.com/ultraviolet/40/000000/synchronize.png"></span>
        </div>
      </div>
      <div class="langselect">

       <form>
         <div class="selectWrap">
         <select id="twoSelect" name="language">

           <option>English</option>
           <option selected>French</option>
            <option>Spanish</option>
            <option>Dutch</option>
            <option>Arabic</option>
            <option>Italian</option>
            <option>Russian</option>
        </select>
        </div>
      </form>
      </div>
    </div>
    </div>


    <%= yield %>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=a1Jq81v2"></script>
  </body>
</html>
